* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter-Reg";
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter-Bol";
    src: url(../fonts/Inter-Bold.ttf);
}

.buttonStyleStep3 {

    &__buttJump {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 51px;
        background-color: #6BB1B68C;
        color: #FFF;
        font-size: 24px;
        font-weight: 700;
        border-radius: 10px;

    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 30px;
    }
}