* {
    box-sizing: border-box;
}

.WayToTheAirportSection {
    display: flex;
    padding: 0px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.Way {
    &__CheckBoxWay {
        display: flex;
    }
}

